---
import BaseLayout from '../../layouts/BaseLayout.astro'
import AdminSidebar from '../../components/AdminSidebar'
import AdminPanel from '../../components/AdminPanel'
---
<BaseLayout title="后台 · 文章｜个人星球">
  <div class="admin-console-page">
    <AdminSidebar client:load active="articles" />
    <AdminPanel client:load contentType="article" />
  </div>
</BaseLayout>