---
import BaseLayout from '../../layouts/BaseLayout.astro'
import AdminSidebar from '../../components/AdminSidebar'
import AdminComments from '../../components/AdminComments'
---
<BaseLayout title="后台 · 评论｜个人星球">
  <div class="admin-console-page">
    <AdminSidebar client:load active="comments" />
    <AdminComments client:load />
  </div>
</BaseLayout>