---
import BaseLayout from '../../layouts/BaseLayout.astro'
import AdminSidebar from '../../components/AdminSidebar'
import AdminPanel from '../../components/AdminPanel'
---
<BaseLayout title="后台 · 作品｜B-612星球">
  <div class="admin-console-page">
    <AdminSidebar client:load active="projects" />
    <AdminPanel client:load contentType="project" />
  </div>
</BaseLayout>