---
import BaseLayout from "../layouts/BaseLayout.astro";
import AdminPanel from "../components/AdminPanel";
---

<BaseLayout title="更改内容｜个人星球">
  <main class="admin-page">
    <AdminPanel client:load />
  </main>
</BaseLayout>
